.volunteer-container{
  margin: 5%;
}

.volunteer-data{
  height: 100%;
  width: 40%;
  display: inline-block;
  text-align: center;
  float: left;
}

.volunteer-title{

}

.volunteer-qr{

}

#volunteer-chat{
  height: 100%;
  width: 60%;
  display: inline-block;
  text-align: center;
  float: left;
}

.volunteer-chat-title{

}

