#volunteer-data{
  height: 100%;
  width: 40%;
  background-color: blue;
  display: inline-block;
  text-align: center;
}

#volunteer-chat{
  height: 100%;
  width: 60%;
  background-color: purple;
  display: inline-block;
  text-align: center;
}
