.test{
  background-color: black;
  color: white;
}

header{
  background-color: grey;
  color: black;
  height: 80px;
  width: 100%;
}

.header-title{
  height: 15%;
  margin: 0;
}

.link-button{
  float: right;
}

#admin-login{
  height: auto;
  width: 45%;
  display: inline-block;
  float: left;
  margin: 2%;
  z-index: 1;
  text-align: center;
}

#volunteer-login{
  height: auto;
  width: 45%;
  display: inline-block;
  float: left;
  margin: 2%;
  z-index: 1;
  text-align: center;
}

#admin-register{
  display: none;
  z-index: 2;
  background-color: red;
  width: 50%;
  text-align: center;
  margin: 0 25%;
}

#volunteer-register{
  display: none;
  z-index: 2;
  background-color: red;
  width: 50%;
  text-align: center;
  margin: 0 25%;
}

#admin{
  display: none;
  z-index: 3;
}

#volunteer{
  display: none;
  z-index: 3;
}


