.admin-chat{

}

.admin-chat-screet{

}

#admin-message{
  list-style-type: none;
}

#admin-message li{
  list-style-type: none;
  font-size: 5em;
}

#admin-m{
  width: 30vw;
  height: 38px;
  font-size: 30px;
}

.admin-button{
  width: 100px;
  height: 38px;
  border: solid grey 2px;
  background: transparent;
  margin: 0;
}
