.register-container{
  text-align: center;
}

.register-exit{
  float: left;
  width: 20px;
  height: 20px;
  border: solid grey 1px;
  background: transparent;
}

.register-title{
}

.register-input-container{

}

.r-input{
  width: 30vw;
  height: 6vh;
  font-size: 3vh;
  text-align: center;
  margin: 0.5%;
  display: inline-block;
}

.register-submit-button{
  width: 100px;
  height: 38px;
  border: solid grey 1px;
  background: transparent;
}
