.volunteer-chat{

}

.volunteer-chat-screet{
}

#volunteer-message{
  list-style-type: none;
}

#volunteer-message li{
  list-style-type: none;
  font-size: 25px;
}

#volunteer-m{
  width: 30vw;
  height: 35px;
  font-size: 30px;
}

.volunteer-button{
  width: 100px;
  height: 35px;
  border: solid grey 2px;
  background: transparent;
  margin: 0;
}
